.text-red-colour {
  color: rgb(240, 33, 5);
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 1.5s linear NaNs both;
  animation: kenburns-bottom 1.5s linear NaNs both;
}
.slide-in-blurred-bottom {
	-webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-bottom-h3 {
	-webkit-animation: slide-in-blurred-bottom 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 1.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}

/* APLICAR ESTO AL DIV DEL BACKGROUND <div
      className={`bg-white bg-[url(./assets/images/prueba-bg2.jpeg)] bg-no-repeat bg-right min-h-screen bg-auto md:bg-cover flex justify-start items-center transition ease-in-out delay-950 hover:translate-x-10 hover:duration-1500 hover:bg-blue-200 animate-fade-up animate-once animate-duration-1500 animate-delay-10000 animate-ease-in transform-gpu kenburns-bottom`}
      onClick={handleClickText}
    > */


 @-webkit-keyframes slide-in-blurred-bottom {
        0% {
          -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                  transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                  transform: translateY(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-blurred-bottom {
        0% {
          -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                  transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                  transform: translateY(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      

      /* ----------------------------------------------
 * Generated by Animista on 2023-8-11 23:46:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
